# Wildfire Size Class Prediction

In [95]:
import pandas as pd
import numpy as np
import pandas as pd
import datetime as dt
import sqlite3
import julian

## Load in data

In [96]:
# Select only pertinent features (this should make loading in data faster)
con = sqlite3.connect("wildfire_data.sqlite")
query="""
SELECT 
FIRE_NAME,
FIRE_SIZE_CLASS,
STAT_CAUSE_DESCR, STAT_CAUSE_CODE,
STATE, COUNTY,
LONGITUDE, LATITUDE,
DISCOVERY_DATE, 
DISCOVERY_TIME, 
CONT_DATE, 
CONT_TIME,
FIRE_YEAR
from Fires
"""
query=query.strip()
df = pd.read_sql_query(query, con)
con.close();

In [97]:
print(df.shape)
df.head()

(1880465, 13)

,FIRE_NAME,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,STATE,COUNTY,LONGITUDE,LATITUDE,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,FIRE_YEAR
0,FOUNTAIN,A,Miscellaneous,9.0,CA,63,-121.005833,40.036944,2453403.5,1300,2453403.5,1730,2005
1,PIGEON,A,Lightning,1.0,CA,61,-120.404444,38.933056,2453137.5,0845,2453137.5,1530,2004
2,SLACK,A,Debris Burning,5.0,CA,17,-120.735556,38.984167,2453156.5,1921,2453156.5,2024,2004
3,DEER,A,Lightning,1.0,CA,3,-119.913333,38.559167,2453184.5,1600,2453189.5,1400,2004
4,STEVENOT,A,Lightning,1.0,CA,3,-119.933056,38.559167,2453184.5,1600,2453189.5,1200,2004

## Drop rows with missing data
Given our data is not sparse at all, we have the freedom to just drop all rows that are missing data we care about.

In [98]:
# drop the following rows if they have missing data for the following features
needed_cols = ['FIRE_SIZE_CLASS', 'DISCOVERY_DATE', 'DISCOVERY_TIME', 'CONT_DATE', 'CONT_TIME', 'STAT_CAUSE_CODE', 'STATE', 'LONGITUDE', 'LATITUDE']
df = df.dropna(subset=needed_cols) # remove rows where both of these are missing
df.shape

(892007, 13)

## Create new columns to work with

Map fire size class to integers so they can be ordered.

In [99]:
di = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7}
df['FIRE_SIZE_CLASS'] = df['FIRE_SIZE_CLASS'].map(di)

Map states to indices to help handle categorical

In [100]:
states = df.STATE.unique()
ind = states.argsort(axis=0)
state_di = {states[i]: i for i in ind}
df['STATE_CODE']=df['STATE'].map(state_di)

Convert the date/time columns to datetime objects. Originally they are in julian time. Also calculate the time to containment (time delta of containment date - discovery date)

In [101]:
#To make these dates and times easier to manage, let's convert them to datetime. We can add new columns DISCOVERY_DATETIME and CONTAINMENT_DATETIME.
df['DISCOVERY_DATETIME'] = df['DISCOVERY_DATE'];
df['CONT_DATETIME'] = df['CONT_DATE'];

In [102]:
#To populate those two rows, let's convert them into datetime.
df['DISCOVERY_DATETIME'] = df['DISCOVERY_DATETIME'].apply(lambda x: julian.from_jd(x, fmt="jd"))
df['CONT_DATETIME'] = df['CONT_DATETIME'].apply(lambda x:julian.from_jd(x, fmt="jd"))

In [103]:
#Let's also add the time 
temp_df = pd.DataFrame();
temp_df['dt'] = df['DISCOVERY_TIME'].apply(lambda x: dt.timedelta(hours=int(x[0:2]), minutes=int(x[2:5])))
df['DISCOVERY_DATETIME'] = df['DISCOVERY_DATETIME'] + temp_df['dt']
df['DISCOVERY_DATETIME'].head()

0   2005-02-02 13:00:00
1   2004-05-12 08:45:00
2   2004-05-31 19:21:00
3   2004-06-28 16:00:00
4   2004-06-28 16:00:00
Name: DISCOVERY_DATETIME, dtype: datetime64[ns]

In [104]:
#Do the same thing for CONT_DATETIME
temp_df = pd.DataFrame();
temp_df['dt'] = df['CONT_TIME'].apply(lambda x: dt.timedelta(hours=int(x[0:2]), minutes=int(x[2:5])))
df['CONT_DATETIME'] = df['CONT_DATETIME'] + temp_df['dt']
df['CONT_DATETIME'].head()

0   2005-02-02 17:30:00
1   2004-05-12 15:30:00
2   2004-05-31 20:24:00
3   2004-07-03 14:00:00
4   2004-07-03 12:00:00
Name: CONT_DATETIME, dtype: datetime64[ns]

In [105]:
df.to_csv("data_with_target.csv")
#Checkpoint to save the data with the above columns before reloading

In [106]:
df = pd.read_csv("data_with_target.csv")

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [107]:
dict(zip(df.STAT_CAUSE_CODE,df.STAT_CAUSE_DESCR))

{9.0: 'Miscellaneous',
 1.0: 'Lightning',
 5.0: 'Debris Burning',
 4.0: 'Campfire',
 2.0: 'Equipment Use',
 7.0: 'Arson',
 8.0: 'Children',
 6.0: 'Railroad',
 3.0: 'Smoking',
 11.0: 'Powerline',
 12.0: 'Structure',
 10.0: 'Fireworks',
 13.0: 'Missing/Undefined'}

In [108]:
df['CONT_DATETIME'] = df['CONT_DATETIME'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
df['DISCOVERY_DATETIME'] = df['DISCOVERY_DATETIME'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
df['TIME_TO_CONT'] = df['CONT_DATETIME'] - df['DISCOVERY_DATETIME']

df['TIME_TO_CONT'].describe()

count                     892007
mean      1 days 06:44:52.524004
std      13 days 19:33:02.720135
min              0 days 00:00:00
25%              0 days 00:30:00
50%              0 days 01:28:00
75%              0 days 04:45:00
max           3653 days 01:30:00
Name: TIME_TO_CONT, dtype: object

In [109]:
# convert to hours for easier sorting
df['HOURS_TO_CONT'] = df['TIME_TO_CONT'].apply(lambda x: round(float(x.total_seconds()/60/60)),2)
df.HOURS_TO_CONT.describe()

count    892007.000000
mean         30.728347
std         331.551520
min           0.000000
25%           0.000000
50%           1.000000
75%           5.000000
max       87674.000000
Name: HOURS_TO_CONT, dtype: float64

## Investigate the outliers in HOURS_TO_CONT 

75% is only 5 hours to cont, but max is abnormally high. 
Some dates seem to be incorrect (in record) -- month/day and time of day (h/m) are correct but wrong only in year.

Be careful because some differences in year are okay (Dec/Jan fires).

Since total dataset is 892007 instances, and of those, only 6000 are greater than 1000 hours to cont, these are definitely outliers and may need to be omitted from training for better accuracy/performance. We could also use a model that is insensitive to outliers.

In [110]:
df[df.HOURS_TO_CONT > 1000].HOURS_TO_CONT.describe()

count     5994.000000
mean      2289.123624
std       3257.553581
min       1001.000000
25%       1340.250000
50%       1776.000000
75%       2392.750000
max      87674.000000
Name: HOURS_TO_CONT, dtype: float64

In [111]:
df[(df.HOURS_TO_CONT > 8000) & (df.FIRE_SIZE_CLASS > 2)].sort_values(by='FIRE_SIZE_CLASS')

,Unnamed: 0,FIRE_NAME,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,STATE,COUNTY,LONGITUDE,LATITUDE,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,FIRE_YEAR,STATE_CODE,DISCOVERY_DATETIME,CONT_DATETIME,TIME_TO_CONT,HOURS_TO_CONT
182280,182647,ML5,3,Children,8.0,MN,NaN,-93.765300,46.212700,2449480.5,1450,2449845.5,1600,1994,14,1994-05-08 14:50:00,1995-05-08 16:00:00,365 days 01:10:00,8761
254190,256371,TRACKS,3,Arson,7.0,SD,NaN,-100.540700,45.670000,2452773.5,2120,2453139.5,2300,2003,10,2003-05-14 21:20:00,2004-05-14 23:00:00,366 days 01:40:00,8786
288931,291193,RALSTON,3,Miscellaneous,9.0,OK,NaN,-96.752800,36.507800,2453385.5,1215,2453750.5,1330,2005,19,2005-01-15 12:15:00,2006-01-15 13:30:00,365 days 01:15:00,8761
512944,1286206,ADON ROAD,3,Lightning,1.0,WY,Campbell,-105.276150,44.454340,2455430.5,2059,2455804.5,2059,2010,4,2010-08-22 20:59:00,2011-08-31 20:59:00,374 days 00:00:00,8976
359258,365024,2100 CENTE,3,Miscellaneous,9.0,IN,NaN,-85.423200,38.937900,2452004.5,1300,2452379.5,1200,2001,26,2001-04-05 13:00:00,2002-04-15 12:00:00,374 days 23:00:00,8999
507286,1276621,NaN,3,Debris Burning,5.0,PA,FAYETTE,-79.827778,40.017222,2452352.5,1007,2453448.5,1007,2002,37,2002-03-19 10:07:00,2005-03-19 10:07:00,1096 days 00:00:00,26304
416614,1063028,FOOT,3,Miscellaneous,9.0,CA,63,-121.052500,39.803889,2453557.5,1638,2453928.5,1800,2005,0,2005-07-06 16:38:00,2006-07-12 18:00:00,371 days 01:22:00,8905
468934,1234308,EARLY MORNING,3,Missing/Undefined,13.0,AZ,NaN,-109.923000,31.970500,2454581.5,217,2454946.5,217,2008,9,2008-04-25 02:17:00,2009-04-25 02:17:00,365 days 00:00:00,8760
708514,1579610,BIRCH CREEK,4,Missing/Undefined,13.0,OR,Malheur,-117.290000,44.322200,2456090.5,1756,2456456.5,1830,2012,2,2012-06-12 17:56:00,2013-06-13 18:30:00,366 days 00:34:00,8785
549414,1324066,JIMS BRANCH,4,Arson,7.0,WV,Wyoming,-81.349864,37.511007,2449661.5,1310,2450393.5,1310,1994,33,1994-11-05 13:10:00,1996-11-06 13:10:00,732 days 00:00:00,17568
465662,1227849,30305,4,Arson,7.0,OK,Adair,-94.743133,36.035600,2452723.5,1400,2453454.5,1400,2003,19,2003-03-25 14:00:00,2005-03-25 14:00:00,731 days 00:00:00,17544
455084,1210677,NE 30495,4,Arson,7.0,OK,NaN,-94.898000,36.284700,2455501.5,710,2455866.5,1210,2010,19,2010-11-01 07:10:00,2011-11-01 12:10:00,365 days 05:00:00,8765
413299,1059663,INDIAN RUN,4,Miscellaneous,9.0,CO,107,-107.408333,40.284167,2454741.5,1700,2455107.5,1200,2008,5,2008-10-02 17:00:00,2009-10-03 12:00:00,365 days 19:00:00,8779
352731,356156,BUENAVISTA,4,Lightning,1.0,CA,NaN,-119.522800,37.658900,2451763.5,1600,2453644.5,1800,2000,0,2000-08-07 16:00:00,2005-10-01 18:00:00,1881 days 02:00:00,45146
302770,305237,KILIOVILIK,4,Lightning,1.0,AK,NaN,-157.519400,66.566100,2452071.5,2010,2453172.5,1719,2001,31,2001-06-11 20:10:00,2004-06-16 17:19:00,1100 days 21:09:00,26421
708515,1579611,SKULL,4,Lightning,1.0,OR,Malheur,-117.838110,43.478810,2456162.5,1231,2456528.5,1850,2012,2,2012-08-23 12:31:00,2013-08-24 18:50:00,366 days 06:19:00,8790
353877,357487,ROAD 09-08 WF,5,Arson,7.0,AL,NaN,-85.597800,34.449700,2453799.5,1145,2454534.5,1400,2006,35,2006-03-05 11:45:00,2008-03-09 14:00:00,735 days 02:15:00,17642
512976,1286272,THUNDER,5,Miscellaneous,9.0,WY,Campbell,-105.264870,43.740000,2455427.5,1345,2455796.5,1741,2010,4,2010-08-19 13:45:00,2011-08-23 17:41:00,369 days 03:56:00,8860
579673,1360116,COAL CREEK,5,Missing/Undefined,13.0,OK,Leflore,-94.866111,34.940000,2454486.5,1358,2454854.5,830,2008,19,2008-01-21 13:58:00,2009-01-23 08:30:00,367 days 18:32:00,8827
708588,1579684,HOPEWELL,5,Missing/Undefined,13.0,PA,NaN,-75.761400,40.213300,2456026.5,1228,2456396.5,1700,2012,37,2012-04-09 12:28:00,2013-04-14 17:00:00,370 days 04:32:00,8885
701530,1572579,SIXTEEN COMPLEX,7,Arson,7.0,CA,Colusa,-122.344500,38.944440,2456174.5,345,2456545.5,1800,2012,0,2012-09-04 03:45:00,2013-09-10 18:00:00,371 days 14:15:00,8918

In [112]:
df[
    (df['DISCOVERY_DATETIME'].apply(lambda x: x.year) != df['CONT_DATETIME'].apply(lambda x: x.year))
    &
    (df['HOURS_TO_CONT'] > 200)
]

,Unnamed: 0,FIRE_NAME,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,STATE,COUNTY,LONGITUDE,LATITUDE,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,FIRE_YEAR,STATE_CODE,DISCOVERY_DATETIME,CONT_DATETIME,TIME_TO_CONT,HOURS_TO_CONT
25196,25280,DOMKE,7,Lightning,1.0,WA,7,-120.599444,48.167222,2454317.5,1900,2454472.5,900,2007,6,2007-08-05 19:00:00,2008-01-07 09:00:00,154 days 14:00:00,3710
34638,34763,LICK RUN,2,Lightning,1.0,VA,15,-79.146944,38.368611,2454583.5,1630,2454948.5,2100,2008,27,2008-04-27 16:30:00,2009-04-27 21:00:00,365 days 04:30:00,8764
48522,48658,NaN,1,Lightning,1.0,CA,NaN,-118.708333,36.295000,2448922.5,1800,2449287.5,1930,1992,0,1992-10-27 18:00:00,1993-10-27 19:30:00,365 days 01:30:00,8762
80627,80774,VICTORIA,1,Miscellaneous,9.0,CA,NaN,-117.180000,34.243333,2449726.5,1409,2450091.5,1500,1995,0,1995-01-09 14:09:00,1996-01-09 15:00:00,365 days 00:51:00,8761
114195,114369,FREIDLEIN,2,Campfire,4.0,AZ,5,-111.691667,35.291667,2451530.5,950,2451547.5,1600,1999,9,1999-12-18 09:50:00,2000-01-04 16:00:00,17 days 06:10:00,414
114196,114370,LION,2,Miscellaneous,9.0,AZ,5,-111.713333,35.315000,2451535.5,700,2451547.5,1600,1999,9,1999-12-23 07:00:00,2000-01-04 16:00:00,12 days 09:00:00,297
131788,132006,LAVA BUTTE,5,Miscellaneous,9.0,CA,NaN,-118.861944,36.782778,2451908.5,1500,2451917.5,1000,2000,0,2000-12-30 15:00:00,2001-01-08 10:00:00,8 days 19:00:00,211
132252,132471,WATTERMILL,1,Debris Burning,5.0,MI,85,-85.804167,43.863889,2451648.5,1658,2452378.5,1710,2000,23,2000-04-14 16:58:00,2002-04-14 17:10:00,730 days 00:12:00,17520
134128,134351,DECEMBER,4,Campfire,4.0,AZ,NaN,-111.333889,34.417500,2451896.5,1400,2451914.5,1600,2000,9,2000-12-18 14:00:00,2001-01-05 16:00:00,18 days 02:00:00,434
134986,135209,SHANKS GULCH,1,Miscellaneous,9.0,SD,NaN,-103.383333,44.060000,2451916.5,2002,2452282.5,36,2001,10,2001-01-07 20:02:00,2002-01-08 00:36:00,365 days 04:34:00,8765
151345,151618,CARP,1,Lightning,1.0,UT,NaN,-111.527500,41.883056,2452500.5,1915,2452867.5,1800,2002,8,2002-08-14 19:15:00,2003-08-16 18:00:00,366 days 22:45:00,8807
156458,156750,COAL SEAM #4,1,Miscellaneous,9.0,MT,NaN,-104.232222,45.610556,2452625.5,1400,2452653.5,1600,2002,7,2002-12-17 14:00:00,2003-01-14 16:00:00,28 days 02:00:00,674
164729,165052,ALPHA,2,Campfire,4.0,NM,3,-108.315278,33.387778,2452977.5,1315,2453026.5,800,2003,1,2003-12-04 13:15:00,2004-01-22 08:00:00,48 days 18:45:00,1171
182280,182647,ML5,3,Children,8.0,MN,NaN,-93.765300,46.212700,2449480.5,1450,2449845.5,1600,1994,14,1994-05-08 14:50:00,1995-05-08 16:00:00,365 days 01:10:00,8761
182283,182650,ML14,2,Debris Burning,5.0,MN,NaN,-92.887700,46.012500,2449491.5,1930,2449856.5,1955,1994,14,1994-05-19 19:30:00,1995-05-19 19:55:00,365 days 00:25:00,8760
185848,186216,HOCHUNK 3,1,Arson,7.0,WI,NaN,-90.759900,44.349400,2451021.5,1205,2452482.5,1237,1998,34,1998-07-27 12:05:00,2002-07-27 12:37:00,1461 days 00:32:00,35065
216913,217383,BORDER 109,1,Miscellaneous,9.0,CA,San Diego,-116.698961,32.575669,2451156.5,945,2451179.5,1030,1998,0,1998-12-09 09:45:00,1999-01-01 10:30:00,23 days 00:45:00,553
231521,232104,COYOTE CR.,1,Lightning,1.0,OR,NaN,-123.281800,43.805400,2449218.5,1215,2449583.5,1430,1993,2,1993-08-19 12:15:00,1994-08-19 14:30:00,365 days 02:15:00,8762
242661,244355,VET,3,Miscellaneous,9.0,HI,NaN,-155.081700,19.317200,2449656.5,1130,2449720.5,800,1994,48,1994-10-31 11:30:00,1995-01-03 08:00:00,63 days 20:30:00,1532
248424,250579,PICKENS #3,2,Miscellaneous,9.0,OK,NaN,-95.055300,34.430300,2453625.5,1710,2453990.5,2359,2005,19,2005-09-12 17:10:00,2006-09-12 23:59:00,365 days 06:49:00,8767
252307,254483,318,2,Arson,7.0,ND,NaN,-98.846100,47.982200,2453494.5,1700,2453859.5,1800,2005,32,2005-05-04 17:00:00,2006-05-04 18:00:00,365 days 01:00:00,8761
254190,256371,TRACKS,3,Arson,7.0,SD,NaN,-100.540700,45.670000,2452773.5,2120,2453139.5,2300,2003,10,2003-05-14 21:20:00,2004-05-14 23:00:00,366 days 01:40:00,8786
287466,289721,WHITEWOLF,2,Debris Burning,5.0,WY,NaN,-108.771200,43.026600,2453612.5,1525,2454342.5,1730,2005,4,2005-08-30 15:25:00,2007-08-30 17:30:00,730 days 02:05:00,17522
288931,291193,RALSTON,3,Miscellaneous,9.0,OK,NaN,-96.752800,36.507800,2453385.5,1215,2453750.5,1330,2005,19,2005-01-15 12:15:00,2006-01-15 13:30:00,365 days 01:15:00,8761
291926,294214,FOREST DRIVE,2,Miscellaneous,9.0,NM,NaN,-105.746900,33.163400,2453901.5,1424,2454997.5,1920,2006,1,2006-06-15 14:24:00,2009-06-15 19:20:00,1096 days 04:56:00,26309
291927,294215,NAICHE,2,Miscellaneous,9.0,NM,NaN,-105.734200,33.256500,2453901.5,1550,2454997.5,2129,2006,1,2006-06-15 15:50:00,2009-06-15 21:29:00,1096 days 05:39:00,26310
291928,294216,WHITETAIL SUMMIT,2,Miscellaneous,9.0,NM,NaN,-105.613300,33.247000,2453909.5,1300,2455006.5,1153,2006,1,2006-06-23 13:00:00,2009-06-24 11:53:00,1096 days 22:53:00,26327
294005,296307,CANAL 2,2,Miscellaneous,9.0,AZ,NaN,-114.289700,34.029700,2453728.5,2337,2453741.5,1530,2005,9,2005-12-24 23:37:00,2006-01-06 15:30:00,12 days 15:53:00,304
294048,296350,TRACTOR,2,Miscellaneous,9.0,AZ,NaN,-114.516900,33.870300,2454093.5,826,2454103.5,1530,2006,9,2006-12-24 08:26:00,2007-01-03 15:30:00,10 days 07:04:00,247
296220,298607,AVENUE,1,Miscellaneous,9.0,CA,NaN,-114.625000,32.730300,2453027.5,800,2453401.5,1600,2004,0,2004-01-23 08:00:00,2005-01-31 16:00:00,374 days 08:00:00,8984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701530,1572579,SIXTEEN COMPLEX,7,Arson,7.0,CA,Colusa,-122.344500,38.944440,2456174.5,345,2456545.5,1800,2012,0,2012-09-04 03:45:00,2013-09-10 18:00:00,371 days 14:15:00,8918
705567,1576636,ROCK II,2,Arson,7.0,ND,NaN,-98.899700,47.988100,2456214.5,2130,2456579.5,2330,2012,32,2012-10-14 21:30:00,2013-10-14 23:30:00,365 days 02:00:00,8762
705571,1576640,GOLDEN ROAD,1,Arson,7.0,ND,NaN,-98.899700,47.993600,2456225.5,1845,2456590.5,2045,2012,32,2012-10-25 18:45:00,2013-10-25 20:45:00,365 days 02:00:00,8762
706277,1577348,GLADE,1,Missing/Undefined,13.0,NM,San Juan,-108.150300,36.819700,2456264.5,1159,2456630.5,1500,2012,1,2012-12-03 11:59:00,2013-12-04 15:00:00,366 days 03:01:00,8787
708514,1579610,BIRCH CREEK,4,Missing/Undefined,13.0,OR,Malheur,-117.290000,44.322200,2456090.5,1756,2456456.5,1830,2012,2,2012-06-12 17:56:00,2013-06-13 18:30:00,366 days 00:34:00,8785
708515,1579611,SKULL,4,Lightning,1.0,OR,Malheur,-117.838110,43.478810,2456162.5,1231,2456528.5,1850,2012,2,2012-08-23 12:31:00,2013-08-24 18:50:00,366 days 06:19:00,8790
708588,1579684,HOPEWELL,5,Missing/Undefined,13.0,PA,NaN,-75.761400,40.213300,2456026.5,1228,2456396.5,1700,2012,37,2012-04-09 12:28:00,2013-04-14 17:00:00,370 days 04:32:00,8885
723294,1597193,SLEEPING PINE (11),2,Campfire,4.0,FL,Collier,-81.537500,26.249000,2455928.5,932,2456294.5,1029,2012,16,2012-01-02 09:32:00,2013-01-02 10:29:00,366 days 00:57:00,8785
724261,1598307,JACKS DRAW,2,Lightning,1.0,WY,Albany,-105.380710,42.076180,2456132.5,1400,2456497.5,2000,2012,4,2012-07-24 14:00:00,2013-07-24 20:00:00,365 days 06:00:00,8766
729394,1608450,NaN,1,Equipment Use,2.0,NJ,Camden,-74.535000,39.435000,2456283.5,1410,2456298.5,1200,2012,47,2012-12-22 14:10:00,2013-01-06 12:00:00,14 days 21:50:00,358
741821,1624828,10077,2,Equipment Use,2.0,OK,McCurtain,-95.038056,34.463056,2456083.5,1343,2456448.5,1512,2012,19,2012-06-05 13:43:00,2013-06-05 15:12:00,365 days 01:29:00,8761
790523,1723408,BARN,2,Debris Burning,5.0,OH,Lawrence,-82.721944,38.633056,2456970.5,1230,2457028.5,1330,2014,25,2014-11-09 12:30:00,2015-01-06 13:30:00,58 days 01:00:00,1393
794287,1727218,986,1,Campfire,4.0,OR,Crook,-120.339444,44.456944,2456962.5,1439,2457027.5,1146,2014,2,2014-11-01 14:39:00,2015-01-05 11:46:00,64 days 21:07:00,1557
796172,1729152,DMPTR 4,1,Arson,7.0,AK,NaN,-146.996700,64.696700,2456773.5,2045,2457138.5,2330,2014,31,2014-04-26 20:45:00,2015-04-26 23:30:00,365 days 02:45:00,8763
796303,1729284,WALKER,6,Missing/Undefined,13.0,AZ,Yuma,-114.445600,32.855600,2457014.5,1711,2457037.5,600,2014,9,2014-12-23 17:11:00,2015-01-15 06:00:00,22 days 12:49:00,541
798854,1731848,CI,1,Debris Burning,5.0,MT,NaN,-107.539500,45.715800,2456772.5,1853,2457137.5,1905,2014,7,2014-04-25 18:53:00,2015-04-25 19:05:00,365 days 00:12:00,8760
799851,1732845,OXBOW OVERLOOK 15,1,Miscellaneous,9.0,ND,NaN,-103.429200,47.607200,2456931.5,1200,2457295.5,800,2014,32,2014-10-01 12:00:00,2015-09-30 08:00:00,363 days 20:00:00,8732
799852,1732846,GLACIER 15,1,Lightning,1.0,ND,NaN,-103.430600,47.613900,2456931.5,1200,2457295.5,800,2014,32,2014-10-01 12:00:00,2015-09-30 08:00:00,363 days 20:00:00,8732
799853,1732847,COAL VEIN 15,2,Lightning,1.0,ND,NaN,-103.390300,47.612800,2456931.5,1200,2457295.5,800,2014,32,2014-10-01 12:00:00,2015-09-30 08:00:00,363 days 20:00:00,8732
802912,1735914,GUNLOCK ROAD,2,Debris Burning,5.0,UT,NaN,-113.780197,37.207100,2456673.5,32,2457039.5,1600,2014,8,2014-01-16 00:32:00,2015-01-17 16:00:00,366 days 15:28:00,8799
805521,1739206,GOLDEN HIKE,1,Lightning,1.0,WA,047,-120.127600,48.196800,2456852.5,1200,2457063.5,1200,2014,6,2014-07-14 12:00:00,2015-02-10 12:00:00,211 days 00:00:00,5064
805522,1739208,FRENCH CREEK,1,Lightning,1.0,WA,047,-120.009400,48.207600,2456853.5,1201,2457063.5,1200,2014,6,2014-07-15 12:01:00,2015-02-10 12:00:00,209 days 23:59:00,5040
808503,1743527,NaN,1,Equipment Use,2.0,NJ,Monmouth,-74.325200,40.099800,2456983.5,1645,2457024.5,1000,2014,47,2014-11-22 16:45:00,2015-01-02 10:00:00,40 days 17:15:00,977
810920,1747767,NaN,1,Campfire,4.0,NJ,Ocean,-74.270700,40.057000,2457012.5,1530,2457024.5,1000,2014,47,2014-12-21 15:30:00,2015-01-02 10:00:00,11 days 18:30:00,282
810921,1747769,WA-FA-001,1,Campfire,4.0,UT,WASHINGTON,-113.638745,37.088696,2456783.5,15,2457150.5,1640,2014,8,2014-05-06 00:15:00,2015-05-08 16:40:00,367 days 16:25:00,8824
834137,1782782,NaN,1,Miscellaneous,9.0,NJ,Ocean,-74.275800,40.059000,2456982.5,1000,2457024.5,1000,2014,47,2014-11-21 10:00:00,2015-01-02 10:00:00,42 days 00:00:00,1008
834138,1782784,WC - 131,3,Miscellaneous,9.0,WA,045,-123.472000,47.309700,2456977.5,1830,2457045.5,1430,2014,6,2014-11-16 18:30:00,2015-01-23 14:30:00,67 days 20:00:00,1628
834139,1782785,WATSON ORCHARD,1,Miscellaneous,9.0,WA,047,-119.897600,48.067900,2456854.5,1200,2457063.5,1200,2014,6,2014-07-16 12:00:00,2015-02-10 12:00:00,209 days 00:00:00,5016
834140,1782786,RISING EAGLE ROAD,5,Miscellaneous,9.0,WA,047,-120.146000,48.412900,2456870.5,1345,2457063.5,1200,2014,6,2014-08-01 13:45:00,2015-02-10 12:00:00,192 days 22:15:00,4630
834141,1782787,MONTE CARLO,1,Miscellaneous,9.0,NV,Elko,-115.781791,40.850472,2456760.5,1548,2457157.5,1328,2014,12,2014-04-13 15:48:00,2015-05-15 13:28:00,396 days 21:40:00,9526

### Conclusion on outliers:

Probably best to drop ones with greater than 3000 hours. Looking at the fires that have > 1000 hours, most are within 2392. Safe to drop those with more as they are likely outliers.

In [113]:
#Save intermediate copy
df.to_pickle("data_with_target.pkl")

## Test model

In [114]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

Intel(R) Data Analytics Acceleration Library (Intel(R) DAAL) solvers for sklearn enabled: https://intelpython.github.io/daal4py/sklearn.html

In [115]:
# drop cols not used in model
drop_cols = ['FIRE_NAME', 'STAT_CAUSE_DESCR', 'STATE', 'COUNTY', 'DISCOVERY_DATE',
            'DISCOVERY_DATETIME', 'CONT_DATE', 'CONT_DATETIME', 'TIME_TO_CONT', 'Unnamed: 0']
data_without_outliers = df.drop(drop_cols, axis=1)
data_without_outliers = data_without_outliers.drop([])
data_without_outliers.head()

,FIRE_SIZE_CLASS,STAT_CAUSE_CODE,LONGITUDE,LATITUDE,DISCOVERY_TIME,CONT_TIME,FIRE_YEAR,STATE_CODE,HOURS_TO_CONT
0,1,9.0,-121.005833,40.036944,1300,1730,2005,0,4
1,1,1.0,-120.404444,38.933056,845,1530,2004,0,7
2,1,5.0,-120.735556,38.984167,1921,2024,2004,0,1
3,1,1.0,-119.913333,38.559167,1600,1400,2004,0,118
4,1,1.0,-119.933056,38.559167,1600,1200,2004,0,116

In [116]:
data_without_outliers.to_pickle('final_data_without_outliers.pkl')

In [69]:
# drop cols not used in model
drop_cols = ['FIRE_SIZE_CLASS', 'FIRE_NAME', 'STAT_CAUSE_DESCR', 'STATE', 'COUNTY', 'DISCOVERY_DATE',
            'DISCOVERY_DATETIME', 'CONT_DATE', 'CONT_DATETIME', 'TIME_TO_CONT']
X = df.drop(drop_cols, axis=1)
y = df['FIRE_SIZE_CLASS']

In [23]:
# create testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True,test_size=0.2, random_state=1)

# create training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, shuffle=True, test_size=0.25, random_state=1)

In [24]:
md = 10
clf = DecisionTreeClassifier(max_depth=md).fit(X_train, y_train)

In [25]:
print("Tree depth: ", clf.get_depth())
print("# of leaves: ", clf.get_n_leaves())
print("Feature importance: ")
for feature, value in dict(zip(X.columns.values, clf.feature_importances_)).items():
    print(f"\t{feature:8}: {round(value,3)}")
print("Train score: ", clf.score(X_train, y_train))
print("Test score: ", clf.score(X_test, y_test))

Tree depth:  10
# of leaves:  828
Feature importance:
	Unnamed: 0: 0.207
	STAT_CAUSE_CODE: 0.055
	LONGITUDE: 0.312
	LATITUDE: 0.073
	DISCOVERY_TIME: 0.004
	CONT_TIME: 0.01
	STATE_CODE: 0.108
	HOURS_TO_CONT: 0.231
Train score:  0.6598823250243365
Test score:  0.6548188921648861

In [26]:
# remove "outliers" and see if improvement
X = df[df.HOURS_TO_CONT < 3000].drop(drop_cols, axis=1)
y = df[df.HOURS_TO_CONT < 3000]['FIRE_SIZE_CLASS']
# create testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True,test_size=0.2, random_state=1)

# create training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, shuffle=True,test_size=0.25, random_state=1)

In [27]:
md = 10
clf = DecisionTreeClassifier(max_depth=md).fit(X_train, y_train)
print("Tree depth: ", clf.get_depth())
print("# of leaves: ", clf.get_n_leaves())
print("Feature importance: ")
for feature, value in dict(zip(X.columns.values, clf.feature_importances_)).items():
    print(f"\t{feature:8}: {round(value,3)}")
print("Train score: ", clf.score(X_train, y_train))
print("Test score: ", clf.score(X_test, y_test))

Tree depth:  10
# of leaves:  829
Feature importance:
	Unnamed: 0: 0.209
	STAT_CAUSE_CODE: 0.054
	LONGITUDE: 0.315
	LATITUDE: 0.074
	DISCOVERY_TIME: 0.004
	CONT_TIME: 0.01
	STATE_CODE: 0.103
	HOURS_TO_CONT: 0.231
Train score:  0.6615288220551379
Test score:  0.6559945236532171

## Try undersampling to improve performance

In [28]:
df.FIRE_SIZE_CLASS.value_counts()

2    386748
1    380835
3     92523
4     14622
5      8544
6      5584
7      3151
Name: FIRE_SIZE_CLASS, dtype: int64

In [44]:
# skewed data, let's undersample 1 and 2
sample2=df[df.FIRE_SIZE_CLASS == 2].sample(10000)
sample1=df[df.FIRE_SIZE_CLASS == 1].sample(10000)
sample3=df[df.FIRE_SIZE_CLASS == 3].sample(10000)

In [45]:
sampled_df= pd.concat([sample1, sample2, sample3,df[(df.FIRE_SIZE_CLASS != 1) & (df.FIRE_SIZE_CLASS != 2)]])
sampled_df=sampled_df.drop('Unnamed: 0', axis=1)
print(sampled_df.shape)
sampled_df.head()

(154424, 17)

,FIRE_NAME,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,STATE,COUNTY,LONGITUDE,LATITUDE,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,STATE_CODE,DISCOVERY_DATETIME,CONT_DATETIME,TIME_TO_CONT,HOURS_TO_CONT
141589,POWERLINE,1,Miscellaneous,9.0,WA,51,-117.038056,48.341667,2452134.5,1701,2452134.5,1910,6,2001-08-13 17:01:00,2001-08-13 19:10:00,02:09:00,2
108195,FOSTER 3,1,Lightning,1.0,OR,NaN,-122.391667,43.031667,2451022.5,1900,2451022.5,2130,2,1998-07-28 19:00:00,1998-07-28 21:30:00,02:30:00,2
783453,NaN,1,Arson,7.0,SC,Dillon County,-79.320457,34.437176,2456571.5,1512,2456571.5,1556,17,2013-10-06 15:12:00,2013-10-06 15:56:00,00:44:00,1
867354,NaN,1,Debris Burning,5.0,NY,Broome,-75.909600,42.146200,2457291.5,1454,2457291.5,1538,41,2015-09-26 14:54:00,2015-09-26 15:38:00,00:44:00,1
619510,NaN,1,Debris Burning,5.0,GA,Laurens,-83.025800,32.424000,2449055.5,1622,2449055.5,1705,30,1993-03-09 16:22:00,1993-03-09 17:05:00,00:43:00,1

In [46]:
# remove "outliers" and see if improvement
X = sampled_df[df.HOURS_TO_CONT < 3000].drop(drop_cols, axis=1)
y = sampled_df[df.HOURS_TO_CONT < 3000]['FIRE_SIZE_CLASS']
# create testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=1)

# create training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True,random_state=1)

C:\Users\somet\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\somet\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
md = 10
clf = DecisionTreeClassifier(max_depth=md).fit(X_train, y_train)
print("Tree depth: ", clf.get_depth())
print("# of leaves: ", clf.get_n_leaves())
print("Feature importance: ")
for feature, value in dict(zip(X.columns.values, clf.feature_importances_)).items():
    print(f"\t{feature:8}: {round(value,3)}")
print("Train score: ", clf.score(X_train, y_train))
print("Test score: ", clf.score(X_test, y_test))

Tree depth:  10
# of leaves:  787
Feature importance:
	STAT_CAUSE_CODE: 0.06
	LONGITUDE: 0.332
	LATITUDE: 0.1
	DISCOVERY_TIME: 0.029
	CONT_TIME: 0.033
	STATE_CODE: 0.133
	HOURS_TO_CONT: 0.314
Train score:  0.7099859505025398
Test score:  0.6864868369861237

**Conclusion**: performance improved a lot

## Even sampling across everything

Sample so everything is max the lowest count of fire size classes.

In [172]:
# skewed data, let's undersample 1 and 2
sample1=df[df.FIRE_SIZE_CLASS == 1].sample(3151)
sample2=df[df.FIRE_SIZE_CLASS == 2].sample(3151)
sample3=df[df.FIRE_SIZE_CLASS == 3].sample(3151)
sample4=df[df.FIRE_SIZE_CLASS == 4].sample(3151)
sample5=df[df.FIRE_SIZE_CLASS == 5].sample(3151)
sample6=df[df.FIRE_SIZE_CLASS == 6].sample(3151)
sample7=df[df.FIRE_SIZE_CLASS==7]

sampled_df= pd.concat([sample1, sample2, sample3, sample4, sample5, sample6, sample7])
print(sampled_df.shape)

(22057, 17)

In [177]:
# remove "outliers" and see if improvement
X = sampled_df[df.HOURS_TO_CONT < 8000].drop(drop_cols, axis=1)
y = sampled_df[df.HOURS_TO_CONT < 8000]['FIRE_SIZE_CLASS']
# create testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=1)

# create training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True,random_state=1)

C:\Users\somet\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\somet\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [178]:
md = 10
clf = DecisionTreeClassifier(max_depth=md).fit(X_train, y_train)
print("Tree depth: ", clf.get_depth())
print("# of leaves: ", clf.get_n_leaves())
print("Feature importance: ")
for feature, value in dict(zip(X.columns.values, clf.feature_importances_)).items():
    print(f"\t{feature:8}: {round(value,3)}")
print("Train score: ", clf.score(X_train, y_train))
print("Test score: ", clf.score(X_test, y_test))

Tree depth:  10
# of leaves:  717
Feature importance:
	STAT_CAUSE_CODE: 0.046
	LONGITUDE: 0.216
	LATITUDE: 0.141
	DISCOVERY_TIME: 0.06
	CONT_TIME: 0.064
	HOURS_TO_CONT: 0.427
	STATE_CODE: 0.046
Train score:  0.5544554455445545
Test score:  0.4180457946043981

**Conclusion**: performance degraded drastically by overrepresenting the rarer fire classes

## What next

Select best max depth decision tree?

Ensemble method Random Forest?

## Removing DISCOVERY_TIME,  CONT_TIME columns as well (low feature importance)

In [65]:
# skewed data, let's undersample 1 and 2
sample2=df[df.FIRE_SIZE_CLASS == 2].sample(10000)
sample1=df[df.FIRE_SIZE_CLASS == 1].sample(10000)
sample3=df[df.FIRE_SIZE_CLASS == 3].sample(10000)

In [66]:
sampled_df= pd.concat([sample1, sample2, sample3,df[(df.FIRE_SIZE_CLASS != 1) & (df.FIRE_SIZE_CLASS != 2)]])
sampled_df=sampled_df.drop('Unnamed: 0', axis=1)
print(sampled_df.shape)
sampled_df.head()

(154424, 17)

,FIRE_NAME,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,STATE,COUNTY,LONGITUDE,LATITUDE,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,STATE_CODE,DISCOVERY_DATETIME,CONT_DATETIME,TIME_TO_CONT,HOURS_TO_CONT
171252,THIRSTY FIRE,1,Lightning,1.0,OR,19,-122.080556,43.281389,2453230.5,1622,2453231.5,1910,2,2004-08-13 16:22:00,2004-08-14 19:10:00,1 days 02:48:00,27
77138,HUFFER,1,Smoking,3.0,AZ,NaN,-111.383333,34.486667,2449879.5,1630,2449879.5,1715,9,1995-06-11 16:30:00,1995-06-11 17:15:00,0 days 00:45:00,1
748523,HALL,1,Lightning,1.0,AZ,001,-109.511667,34.157222,2456487.5,808,2456488.5,1214,9,2013-07-14 08:08:00,2013-07-15 12:14:00,1 days 04:06:00,28
202147,JACOBTALAS,1,Debris Burning,5.0,AZ,NaN,-110.467400,35.783300,2451339.5,1830,2451339.5,2030,9,1999-06-10 18:30:00,1999-06-10 20:30:00,0 days 02:00:00,2
846757,TWENTY-ONE,1,Arson,7.0,NM,NaN,-106.689597,34.908500,2457157.5,1226,2457157.5,1303,1,2015-05-15 12:26:00,2015-05-15 13:03:00,0 days 00:37:00,1

In [70]:
# remove "outliers" and see if improvement
drop_cols2 = drop_cols + ['DISCOVERY_TIME', 'CONT_TIME']
X = sampled_df[df.HOURS_TO_CONT < 3000].drop(drop_cols2, axis=1)
y = sampled_df[df.HOURS_TO_CONT < 3000]['FIRE_SIZE_CLASS']
# create testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=1)

# create training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True,random_state=1)

C:\Users\somet\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\somet\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [74]:
md = 10
clf = DecisionTreeClassifier(max_depth=md).fit(X_train, y_train)
print("Tree depth: ", clf.get_depth())
print("# of leaves: ", clf.get_n_leaves())
print("Feature importance: ")
for feature, value in dict(zip(X.columns.values, clf.feature_importances_)).items():
    print(f"\t{feature:8}: {round(value,3)}")
print("Train score: ", clf.score(X_train, y_train))
print("Test score: ", clf.score(X_test, y_test))

Tree depth:  10
# of leaves:  843
Feature importance:
	STAT_CAUSE_CODE: 0.059
	LONGITUDE: 0.348
	LATITUDE: 0.136
	STATE_CODE: 0.137
	HOURS_TO_CONT: 0.32
Train score:  0.7086535032260156
Test score:  0.685870833873687

**Conclusion**: not that much improvement actually